html, body {
  height: 50%;
  width: 50%;
	background-color: #ffffff;
}

#title{
	color: #000000;
	background-color: #E87E23;
	border: 2px dotted;
	border-color: #000000;
}

#footer{
	color: #E87E23;
	background-color: #000000;
	border: 10px dashed;
	border-color: #E87E23;
}

.green{
	background-color:#BFDBD2;
	border: 2px solid;
	border-radius: 25px;
	border-color: #000000;
}

.yellow{
	background-color:#F2EBC7;
	border: 2px solid;
	border-radius: 25px;
	border-color: #FFFFFF;
}

div {
	border: 2px solid;
	padding: 10px;
	margin: 5px;
	background-color: #4b5aff;
}
