body{
    background-color: rgb(77, 210, 255);
    color: #ff0000
}
#pagetitle {
    text-align: center;
    color: #04ff00;
}
#p1 {
    text-align: right;
    color: #ff00dd;
}
#p2 {
    text-align: right;
    color: #73bf00;
}

